<%- include header %>
  
<div class="text-center page-title" ><%=title %></div>

			
			
		
		   
		   
		   <article class="weui_article">
    <h4 class="text-center">标题：<%= art.title %></h1>
    <section>
        <h5 class="title text-center">标签：<%= art.tag %></h2>
        <section>
            
            <p class="text-center">正文：<%=art.content %></p>
        </section>

    </section>
</article>
		   

		   
			
   
<%- include footer %>